__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
ENV/
.env

# Modelos y datasets descargados
*.pt
*.bin
*.xml
*.onnx
models/*
!models/.gitkeep
data/*
!data/.gitkeep

# IDEs y Editores
.vscode/
.idea/
.DS_Store

# Directorios de entrenamiento y temporales
runs/
